[submodule "modules/perl"]
	path = modules/perl
	url = git://github.com/example42/puppet-perl.git
[submodule "modules/sendmail"]
	path = modules/sendmail
	url = git://github.com/example42/puppet-sendmail.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/example42/puppet-postgresql.git
[submodule "modules/vim"]
	path = modules/vim
	url = git://github.com/example42/puppet-vim.git
[submodule "modules/redis"]
	path = modules/redis
	url = git://github.com/example42/puppet-redis.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = git://github.com/example42/puppi.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/example42/puppet-mysql.git
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/example42/puppet-apache.git
[submodule "modules/php"]
	path = modules/php
	url = git://github.com/example42/puppet-php.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = git://github.com/example42/puppet-mongodb.git
